# Raw Data Collector
## 1. Import Modules

In [4]:
from http.client import HTTPConnection, HTTPSConnection
import urllib.parse
import re
import datetime
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from DB_Setup import Base, FullMarketDailyTrade, SingleStockDaily, StockNameID
import datetime

## 2. Connection with Database

In [5]:
engine = create_engine('sqlite:///taiwanstock.db')
# Bind the engine to the metadata of the Base class so that the
# declaratives can be accessed through a DBSession instance
Base.metadata.bind = engine
DBSession = sessionmaker(bind=engine)
# A DBSession() instance establishes all conversations with the database
# and represents a "staging zone" for all the objects loaded into the
# database session object. Any change made against the objects in the
# session won't be persisted into the database until you call
# session.commit(). If you're not happy about the changes, you can
# revert all of them back to the last commit by calling
# session.rollback()
session = DBSession()

## 3. Functions 
### a. Internet Data Query
* Using HTML POST method to scrape data on internet

In [6]:
def QueryDataPost(urlDomain, urlReq, bodyParams, headers={}, httpType='http'):
    if httpType is 'http':
        conn = HTTPConnection(urlDomain)
    elif httpType is 'https':
        conn = HTTPSConnection(urlDomain)
    #params = urllib.parse.urlencode(bodyParams)
    params = bodyParams
    conn.request('POST', urlReq, params, headers)
    connResp = conn.getresponse()
    connReadData = connResp.read().decode('utf-8', 'ignore')
    return connReadData

### b. Easy List Printer

In [7]:
def printList(dataList):
    for items in dataList:
        print(items)

### c. Daily Stock Data Extractor

In [8]:
def stockDayDataExtract(stockDataList):
    dataRe = r'^"\s*\d+/*\d+/*\d+"'
    floatRe = r'[+-]*\d+\.\d+'
    dateRe = r'\d+/\d+/\d+'
    specialData = 'X0.00'
    dataList = list()
    for item in stockDataList:
        if re.match(dataRe,item):
            dataList.append(item.split('","'))
    for i, items in enumerate(dataList):
        for j, data in enumerate(items):
            data = data.replace('"','')
            data = data.replace(',','')
            data = data.replace(' ','')
            if data.isdigit():
                data = int(data)
            elif re.match(floatRe, data):
                data = float(data)
            elif re.match(dateRe, data):
                y = int(data.split('/')[0])
                m = int(data.split('/')[1])
                d = int(data.split('/')[2])
                data = datetime.date(y, m, d)
            elif data == specialData:
                data = 0
            #print(data)
            dataList[i][j] = data
    return dataList

### d. Add StockID for SingleStock

In [9]:
def addStockID(data, ID):
    newDataList = list()
    for listdata in data:
        listdata.append(ID)
        newDataList.append(listdata)
    return newDataList

### e. HTML Parameters of SingleStock

In [10]:
def singleStockDayParams(year, month, stockNo):
    return 'download=csv&query_year=%d&query_month=%d&CO_ID=%s' % (year, month, stockNo)

### f. HTML Parameters of FullMarket

In [11]:
def fulMarketTradeParams(year, month):
    return 'download=csv&query_year=%d&query_month=%d' % (year, month)

### g. Raw Data to Database of FullMarket
* tradeVolume is stored as thousand base
* tradeValue is stored in thousan base
* Bypass the empty data

In [12]:
def createFullMarket(data):
    if 0 in data[1:5]:
        pass
    else:
        ratio = 1000
        stockDay = FullMarketDailyTrade(tradeDate=data[0], tradeVolume=data[1]/ratio,\
                                    tradeValue=data[2]/ratio, transaction=data[3],\
                                    TAIEX=data[4], change=data[5])
        try:
            session.add(stockDay)
            session.commit()
        except:
            print('Error occurs in this item:')
            print(data)
            return

### h. Raw Data to Database of SingleStock
* tradeVolume is stored as thousand base
* tradeValue is stored in thousan base
* Bypass the empty data

In [13]:
def createSingleStock(data):
    if 0 in data[1:7]:
        pass
    else:
        ratio = 1000
        stockDay = SingleStockDaily(tradeDate=data[0], tradeVolume=data[1]/ratio, tradeValue=data[2]/ratio,\
                                openingprice=data[3], highestprice=data[4],\
                                lowestprice=data[5], closingtprice=data[6],\
                                change=data[7], transaction=data[8], stockid=data[9])
        try:
            session.add(stockDay)
            session.commit()
        except:
            print('Error occurs in this item:')
            print(data)
            return

## 3. Variables

In [14]:
#####Changeable Variables#####
year = 2016
month = 12
stockNo = '2454'

#####Main Variables#####
downloadType = 'csv'
tesDomain = 'www.tse.com.tw'
headers = {"Content-type": "application/x-www-form-urlencoded","Accept": "text/plain"}
fulMarketTradeTitle = ["Date","Trade Volume","Trade Value","Transaction","TAIEX","Change"]
singleStockDayTitle = ["Date","Trade Volume","Trade Value","Opening Price","Highest Price",\
                       "Lowest Price","Closing Price","Change","Transaction"]

fulMarketTradeAPI = '/en/trading/exchange/FMTQIK/FMTQIK.php'
singleStocDaykAPI = '/en/trading/exchange/STOCK_DAY/STOCK_DAYMAIN.php'
#fulMarketTradeParams = 'download=csv&query_year=%d&query_month=%d' % (year, month)
#singleStockDayParams = 'download=csv&query_year=%d&query_month=%d&CO_ID=%d' % (year, month, stockNo)

# %%%Code Tester%%%

* need to check uniqueness before save it into database

In [3]:
taiwan50 = SingleStockDaily()
data = ['2016-01-04', '0050']
print(taiwan50.checkUnique(session, data))

<DB_Setup.SingleStockDaily object at 0x000002018CCE0048>

* Next time start from stock item 654

In [19]:
targetStock = SingleStockDaily()
stocknamdidTable = session.query(StockNameID)[3296:]
startYear = 2016
stopYear = 2018
for stock in stocknamdidTable:
    stockNo = stock.stockid
    #yearlySingleStock = list()
    for year in range(startYear,stopYear):
        for month in range(1,13):
            theStock = QueryDataPost(tesDomain, singleStocDaykAPI, singleStockDayParams(year, month, stockNo), headers)
            theStockList = theStock.split('\n')
            theStockData = stockDayDataExtract(theStockList)
            newData = addStockID(theStockData, stockNo)
            #print(theStockData)
            for data in newData:
                if targetStock.checkUnique(session, [data[0],data[9]]):
                    print('Data Existed')
                else:
                    #print('Create New')
                    createSingleStock(data)
                
    print('%s\'s data from %d to %d is stored in database' % (stockNo, startYear, stopYear))

0061's data from 2016 to 2018 is stored in database
006203's data from 2016 to 2018 is stored in database
006204's data from 2016 to 2018 is stored in database
006205's data from 2016 to 2018 is stored in database
006206's data from 2016 to 2018 is stored in database
006207's data from 2016 to 2018 is stored in database
006208's data from 2016 to 2018 is stored in database
00625K's data from 2016 to 2018 is stored in database
00631L's data from 2016 to 2018 is stored in database
00632R's data from 2016 to 2018 is stored in database
00633L's data from 2016 to 2018 is stored in database
00634R's data from 2016 to 2018 is stored in database
00635U's data from 2016 to 2018 is stored in database
00636's data from 2016 to 2018 is stored in database
00637L's data from 2016 to 2018 is stored in database
00638R's data from 2016 to 2018 is stored in database
00639's data from 2016 to 2018 is stored in database
00640L's data from 2016 to 2018 is stored in database
00641R's data from 2016 to 2018 is stored in database
00642U's data from 2016 to 2018 is stored in database
00643's data from 2016 to 2018 is stored in database
00643K's data from 2016 to 2018 is stored in database
00645's data from 2016 to 2018 is stored in database
00646's data from 2016 to 2018 is stored in database
00647L's data from 2016 to 2018 is stored in database
00648R's data from 2016 to 2018 is stored in database
00649's data from 2016 to 2018 is stored in database
00650L's data from 2016 to 2018 is stored in database
00651R's data from 2016 to 2018 is stored in database
00652's data from 2016 to 2018 is stored in database
00653L's data from 2016 to 2018 is stored in database
00654R's data from 2016 to 2018 is stored in database
00655L's data from 2016 to 2018 is stored in database
00656R's data from 2016 to 2018 is stored in database
00657's data from 2016 to 2018 is stored in database
00658L's data from 2016 to 2018 is stored in database
00659R's data from 2016 to 2018 is stored in database
00660's data from 2016 to 2018 is stored in database
00661's data from 2016 to 2018 is stored in database
00662's data from 2016 to 2018 is stored in database
00663L's data from 2016 to 2018 is stored in database
00664R's data from 2016 to 2018 is stored in database
00665L's data from 2016 to 2018 is stored in database
00666R's data from 2016 to 2018 is stored in database
00667's data from 2016 to 2018 is stored in database
00668's data from 2016 to 2018 is stored in database
00669R's data from 2016 to 2018 is stored in database
00670L's data from 2016 to 2018 is stored in database
00671R's data from 2016 to 2018 is stored in database
00672L's data from 2016 to 2018 is stored in database
00673R's data from 2016 to 2018 is stored in database
00674R's data from 2016 to 2018 is stored in database
00675L's data from 2016 to 2018 is stored in database
00676R's data from 2016 to 2018 is stored in database
00677U's data from 2016 to 2018 is stored in database
00678's data from 2016 to 2018 is stored in database
00680L's data from 2016 to 2018 is stored in database
00681R's data from 2016 to 2018 is stored in database
00682U's data from 2016 to 2018 is stored in database
00683L's data from 2016 to 2018 is stored in database
00684R's data from 2016 to 2018 is stored in database
008201's data from 2016 to 2018 is stored in database
01001T's data from 2016 to 2018 is stored in database
01002T's data from 2016 to 2018 is stored in database
01003T's data from 2016 to 2018 is stored in database
01004T's data from 2016 to 2018 is stored in database
01007T's data from 2016 to 2018 is stored in database
1101's data from 2016 to 2018 is stored in database
1102's data from 2016 to 2018 is stored in database
1103's data from 2016 to 2018 is stored in database
1104's data from 2016 to 2018 is stored in database
1108's data from 2016 to 2018 is stored in database
1109's data from 2016 to 2018 is stored in database
1110's data from 2016 to 2018 is stored in database
1201's data from 2016 to 2018 is stored in database
1203's data from 2016 to 2018 is stored in database
1210's data from 2016 to 2018 is stored in database
1213's data from 2016 to 2018 is stored in database
1215's data from 2016 to 2018 is stored in database
1216's data from 2016 to 2018 is stored in database
1217's data from 2016 to 2018 is stored in database
1218's data from 2016 to 2018 is stored in database
1219's data from 2016 to 2018 is stored in database
1220's data from 2016 to 2018 is stored in database
1225's data from 2016 to 2018 is stored in database
1227's data from 2016 to 2018 is stored in database
1229's data from 2016 to 2018 is stored in database
1231's data from 2016 to 2018 is stored in database
1232's data from 2016 to 2018 is stored in database
1233's data from 2016 to 2018 is stored in database
1234's data from 2016 to 2018 is stored in database
1235's data from 2016 to 2018 is stored in database
1236's data from 2016 to 2018 is stored in database
1256's data from 2016 to 2018 is stored in database
1262's data from 2016 to 2018 is stored in database
1301's data from 2016 to 2018 is stored in database
1303's data from 2016 to 2018 is stored in database
1304's data from 2016 to 2018 is stored in database
1305's data from 2016 to 2018 is stored in database
1307's data from 2016 to 2018 is stored in database
1308's data from 2016 to 2018 is stored in database
1309's data from 2016 to 2018 is stored in database
1310's data from 2016 to 2018 is stored in database
1312's data from 2016 to 2018 is stored in database
1313's data from 2016 to 2018 is stored in database
1314's data from 2016 to 2018 is stored in database
1315's data from 2016 to 2018 is stored in database
1316's data from 2016 to 2018 is stored in database
1319's data from 2016 to 2018 is stored in database
1321's data from 2016 to 2018 is stored in database
1323's data from 2016 to 2018 is stored in database
1324's data from 2016 to 2018 is stored in database
1325's data from 2016 to 2018 is stored in database
1326's data from 2016 to 2018 is stored in database
1337's data from 2016 to 2018 is stored in database
1338's data from 2016 to 2018 is stored in database
1339's data from 2016 to 2018 is stored in database
1340's data from 2016 to 2018 is stored in database
1402's data from 2016 to 2018 is stored in database
1409's data from 2016 to 2018 is stored in database
1410's data from 2016 to 2018 is stored in database
1413's data from 2016 to 2018 is stored in database
1414's data from 2016 to 2018 is stored in database
1416's data from 2016 to 2018 is stored in database
1417's data from 2016 to 2018 is stored in database
1418's data from 2016 to 2018 is stored in database
1419's data from 2016 to 2018 is stored in database
1423's data from 2016 to 2018 is stored in database
1432's data from 2016 to 2018 is stored in database
1434's data from 2016 to 2018 is stored in database
1435's data from 2016 to 2018 is stored in database
1436's data from 2016 to 2018 is stored in database
1437's data from 2016 to 2018 is stored in database
1438's data from 2016 to 2018 is stored in database
1439's data from 2016 to 2018 is stored in database
1440's data from 2016 to 2018 is stored in database
1441's data from 2016 to 2018 is stored in database
1442's data from 2016 to 2018 is stored in database
1443's data from 2016 to 2018 is stored in database
1444's data from 2016 to 2018 is stored in database
1445's data from 2016 to 2018 is stored in database
1446's data from 2016 to 2018 is stored in database
1447's data from 2016 to 2018 is stored in database
1449's data from 2016 to 2018 is stored in database
1451's data from 2016 to 2018 is stored in database
1452's data from 2016 to 2018 is stored in database
1453's data from 2016 to 2018 is stored in database
1454's data from 2016 to 2018 is stored in database
1455's data from 2016 to 2018 is stored in database
1456's data from 2016 to 2018 is stored in database
1459's data from 2016 to 2018 is stored in database
1460's data from 2016 to 2018 is stored in database
1463's data from 2016 to 2018 is stored in database
1464's data from 2016 to 2018 is stored in database
1465's data from 2016 to 2018 is stored in database
1466's data from 2016 to 2018 is stored in database
1467's data from 2016 to 2018 is stored in database
1468's data from 2016 to 2018 is stored in database
1469's data from 2016 to 2018 is stored in database
1470's data from 2016 to 2018 is stored in database
1471's data from 2016 to 2018 is stored in database
1472's data from 2016 to 2018 is stored in database
1473's data from 2016 to 2018 is stored in database
1474's data from 2016 to 2018 is stored in database
1475's data from 2016 to 2018 is stored in database
1476's data from 2016 to 2018 is stored in database
1477's data from 2016 to 2018 is stored in database
1503's data from 2016 to 2018 is stored in database
1504's data from 2016 to 2018 is stored in database
1506's data from 2016 to 2018 is stored in database
1507's data from 2016 to 2018 is stored in database
1512's data from 2016 to 2018 is stored in database
1513's data from 2016 to 2018 is stored in database
1514's data from 2016 to 2018 is stored in database
1515's data from 2016 to 2018 is stored in database
1516's data from 2016 to 2018 is stored in database
1517's data from 2016 to 2018 is stored in database
1519's data from 2016 to 2018 is stored in database
1521's data from 2016 to 2018 is stored in database
1522's data from 2016 to 2018 is stored in database
1524's data from 2016 to 2018 is stored in database
1525's data from 2016 to 2018 is stored in database
1526's data from 2016 to 2018 is stored in database
1527's data from 2016 to 2018 is stored in database
1528's data from 2016 to 2018 is stored in database
1529's data from 2016 to 2018 is stored in database
1530's data from 2016 to 2018 is stored in database
1531's data from 2016 to 2018 is stored in database
1532's data from 2016 to 2018 is stored in database
1533's data from 2016 to 2018 is stored in database
1535's data from 2016 to 2018 is stored in database
1536's data from 2016 to 2018 is stored in database
1537's data from 2016 to 2018 is stored in database
1538's data from 2016 to 2018 is stored in database
1539's data from 2016 to 2018 is stored in database
1540's data from 2016 to 2018 is stored in database
1541's data from 2016 to 2018 is stored in database
1558's data from 2016 to 2018 is stored in database
1560's data from 2016 to 2018 is stored in database
1568's data from 2016 to 2018 is stored in database
1582's data from 2016 to 2018 is stored in database
1583's data from 2016 to 2018 is stored in database
1589's data from 2016 to 2018 is stored in database
1590's data from 2016 to 2018 is stored in database
1592's data from 2016 to 2018 is stored in database
1598's data from 2016 to 2018 is stored in database
1603's data from 2016 to 2018 is stored in database
1604's data from 2016 to 2018 is stored in database
1605's data from 2016 to 2018 is stored in database
1608's data from 2016 to 2018 is stored in database
1609's data from 2016 to 2018 is stored in database
1611's data from 2016 to 2018 is stored in database
1612's data from 2016 to 2018 is stored in database
1613's data from 2016 to 2018 is stored in database
1614's data from 2016 to 2018 is stored in database
1615's data from 2016 to 2018 is stored in database
1616's data from 2016 to 2018 is stored in database
1617's data from 2016 to 2018 is stored in database
1618's data from 2016 to 2018 is stored in database
1626's data from 2016 to 2018 is stored in database
1701's data from 2016 to 2018 is stored in database
1702's data from 2016 to 2018 is stored in database
1704's data from 2016 to 2018 is stored in database
1707's data from 2016 to 2018 is stored in database
1708's data from 2016 to 2018 is stored in database
1709's data from 2016 to 2018 is stored in database
1710's data from 2016 to 2018 is stored in database
1711's data from 2016 to 2018 is stored in database
1712's data from 2016 to 2018 is stored in database
1713's data from 2016 to 2018 is stored in database
1714's data from 2016 to 2018 is stored in database
1715's data from 2016 to 2018 is stored in database
1717's data from 2016 to 2018 is stored in database
1718's data from 2016 to 2018 is stored in database
1720's data from 2016 to 2018 is stored in database
1721's data from 2016 to 2018 is stored in database
1722's data from 2016 to 2018 is stored in database
1723's data from 2016 to 2018 is stored in database
1724's data from 2016 to 2018 is stored in database
1725's data from 2016 to 2018 is stored in database
1726's data from 2016 to 2018 is stored in database
1727's data from 2016 to 2018 is stored in database
1729's data from 2016 to 2018 is stored in database
1730's data from 2016 to 2018 is stored in database
1731's data from 2016 to 2018 is stored in database
1732's data from 2016 to 2018 is stored in database
1733's data from 2016 to 2018 is stored in database
1734's data from 2016 to 2018 is stored in database
1735's data from 2016 to 2018 is stored in database
1736's data from 2016 to 2018 is stored in database
1737's data from 2016 to 2018 is stored in database
1762's data from 2016 to 2018 is stored in database
1773's data from 2016 to 2018 is stored in database
1776's data from 2016 to 2018 is stored in database
1783's data from 2016 to 2018 is stored in database
1786's data from 2016 to 2018 is stored in database
1789's data from 2016 to 2018 is stored in database
1802's data from 2016 to 2018 is stored in database
1805's data from 2016 to 2018 is stored in database
1806's data from 2016 to 2018 is stored in database
1808's data from 2016 to 2018 is stored in database
1809's data from 2016 to 2018 is stored in database
1810's data from 2016 to 2018 is stored in database
1817's data from 2016 to 2018 is stored in database
1902's data from 2016 to 2018 is stored in database
1903's data from 2016 to 2018 is stored in database
1904's data from 2016 to 2018 is stored in database
1905's data from 2016 to 2018 is stored in database
1906's data from 2016 to 2018 is stored in database
1907's data from 2016 to 2018 is stored in database
1909's data from 2016 to 2018 is stored in database
2002's data from 2016 to 2018 is stored in database
2002A's data from 2016 to 2018 is stored in database
2006's data from 2016 to 2018 is stored in database
2007's data from 2016 to 2018 is stored in database
2008's data from 2016 to 2018 is stored in database
2009's data from 2016 to 2018 is stored in database
2010's data from 2016 to 2018 is stored in database
2012's data from 2016 to 2018 is stored in database
2013's data from 2016 to 2018 is stored in database
2014's data from 2016 to 2018 is stored in database
2015's data from 2016 to 2018 is stored in database
2017's data from 2016 to 2018 is stored in database
2020's data from 2016 to 2018 is stored in database
2022's data from 2016 to 2018 is stored in database
2023's data from 2016 to 2018 is stored in database
2024's data from 2016 to 2018 is stored in database
2025's data from 2016 to 2018 is stored in database
2027's data from 2016 to 2018 is stored in database
2028's data from 2016 to 2018 is stored in database
2029's data from 2016 to 2018 is stored in database
2030's data from 2016 to 2018 is stored in database
2031's data from 2016 to 2018 is stored in database
2032's data from 2016 to 2018 is stored in database
2033's data from 2016 to 2018 is stored in database
2034's data from 2016 to 2018 is stored in database
2038's data from 2016 to 2018 is stored in database
2049's data from 2016 to 2018 is stored in database
2059's data from 2016 to 2018 is stored in database
2062's data from 2016 to 2018 is stored in database
2069's data from 2016 to 2018 is stored in database
2101's data from 2016 to 2018 is stored in database
2102's data from 2016 to 2018 is stored in database
2103's data from 2016 to 2018 is stored in database
2104's data from 2016 to 2018 is stored in database
2105's data from 2016 to 2018 is stored in database
2106's data from 2016 to 2018 is stored in database
2107's data from 2016 to 2018 is stored in database
2108's data from 2016 to 2018 is stored in database
2109's data from 2016 to 2018 is stored in database
2114's data from 2016 to 2018 is stored in database
2115's data from 2016 to 2018 is stored in database
2201's data from 2016 to 2018 is stored in database
2204's data from 2016 to 2018 is stored in database
2206's data from 2016 to 2018 is stored in database
2207's data from 2016 to 2018 is stored in database
2208's data from 2016 to 2018 is stored in database
2227's data from 2016 to 2018 is stored in database
2228's data from 2016 to 2018 is stored in database
2231's data from 2016 to 2018 is stored in database
2236's data from 2016 to 2018 is stored in database
2239's data from 2016 to 2018 is stored in database
2301's data from 2016 to 2018 is stored in database
2302's data from 2016 to 2018 is stored in database
2303's data from 2016 to 2018 is stored in database
2305's data from 2016 to 2018 is stored in database
2308's data from 2016 to 2018 is stored in database
2311's data from 2016 to 2018 is stored in database
2312's data from 2016 to 2018 is stored in database
2313's data from 2016 to 2018 is stored in database
2314's data from 2016 to 2018 is stored in database
2316's data from 2016 to 2018 is stored in database
2317's data from 2016 to 2018 is stored in database
2321's data from 2016 to 2018 is stored in database
2323's data from 2016 to 2018 is stored in database
2324's data from 2016 to 2018 is stored in database
2325's data from 2016 to 2018 is stored in database
2327's data from 2016 to 2018 is stored in database
2328's data from 2016 to 2018 is stored in database
2329's data from 2016 to 2018 is stored in database
2330's data from 2016 to 2018 is stored in database
2331's data from 2016 to 2018 is stored in database
2332's data from 2016 to 2018 is stored in database
2337's data from 2016 to 2018 is stored in database
2338's data from 2016 to 2018 is stored in database
2340's data from 2016 to 2018 is stored in database
2342's data from 2016 to 2018 is stored in database
2344's data from 2016 to 2018 is stored in database
2345's data from 2016 to 2018 is stored in database
2347's data from 2016 to 2018 is stored in database
2348's data from 2016 to 2018 is stored in database
2349's data from 2016 to 2018 is stored in database
2351's data from 2016 to 2018 is stored in database
2352's data from 2016 to 2018 is stored in database
2353's data from 2016 to 2018 is stored in database
2354's data from 2016 to 2018 is stored in database
2355's data from 2016 to 2018 is stored in database
2356's data from 2016 to 2018 is stored in database
2357's data from 2016 to 2018 is stored in database
2358's data from 2016 to 2018 is stored in database
2359's data from 2016 to 2018 is stored in database
2360's data from 2016 to 2018 is stored in database
2362's data from 2016 to 2018 is stored in database
2363's data from 2016 to 2018 is stored in database
2364's data from 2016 to 2018 is stored in database
2365's data from 2016 to 2018 is stored in database
2367's data from 2016 to 2018 is stored in database
2368's data from 2016 to 2018 is stored in database
2369's data from 2016 to 2018 is stored in database
2371's data from 2016 to 2018 is stored in database
2373's data from 2016 to 2018 is stored in database
2374's data from 2016 to 2018 is stored in database
2375's data from 2016 to 2018 is stored in database
2376's data from 2016 to 2018 is stored in database
2377's data from 2016 to 2018 is stored in database
2379's data from 2016 to 2018 is stored in database
2380's data from 2016 to 2018 is stored in database
2382's data from 2016 to 2018 is stored in database
2383's data from 2016 to 2018 is stored in database
2385's data from 2016 to 2018 is stored in database
2387's data from 2016 to 2018 is stored in database
2388's data from 2016 to 2018 is stored in database

KeyboardInterrupt:

In [15]:
yearlyFullStock = list()
for year in range(2015,2018):
    for month in range(1,13):
        fullMarket = QueryDataPost(tesDomain, fulMarketTradeAPI, fulMarketTradeParams(year, month), headers)
        fullMarketList = fullMarket.split('\n')
        fullstock = stockDayDataExtract(fullMarketList)
        yearlyFullStock = yearlyFullStock + fullstock

In [16]:
for data in yearlyFullStock:
    createFullMarket(data)

# Appendix

## Test Code

In [13]:
#stockData = QueryDataPost(tesDomain, fulMarketTradeAPI, fulMarketTradeParams, headers)
#stockDataList = stockData.split('\n')
yearlySingleStock = list()
for year in range(2015,2018):
    for month in range(1,13):
        MediatekStock = QueryDataPost(tesDomain, singleStocDaykAPI, singleStockDayParams(year, month, stockNo), headers)
        MediatekStockList = MediatekStock.split('\n')
        fullstock = stockDayDataExtract(MediatekStockList)
        newData = addStockID(fullstock, stockNo)
        yearlySingleStock = yearlySingleStock + newData
    #printList(newData)
#printList(yearlySingleStock)

In [14]:
for data in yearlySingleStock:
    createSingleStock(data)

In [47]:
url_req = '/ch/trading/exchange/FMTQIK/FMTQIK.php'
params = urllib.parse.urlencode({'download':'csv', 'query_year':2017, 'query_month':2})
headers = {"Content-type": "application/x-www-form-urlencoded","Accept": "text/plain"}
conn = HTTPConnection('www.tse.com.tw')
web = conn.request('POST', url_req, params, headers)
abc = conn.getresponse()
d = abc.read().decode('utf-8', 'ignore')
print(d)

106~02 T (A)
"","","B","","oq[v","^I"
" 106/02/02","5,119,534,614","147,930,853,630","1,131,546","9,428.97","-18.98",
" 106/02/03","5,068,371,711","102,335,722,986","1,056,855","9,455.56","26.59",
" 106/02/06","5,510,906,552","102,352,501,152","1,076,125","9,538.01","82.45",
" 106/02/07","4,932,873,379","95,709,593,373","988,506","9,554.56","16.55",
" 106/02/08","5,300,856,389","110,729,308,207","1,082,850","9,543.25","-11.31",
" 106/02/09","5,264,593,609","106,237,084,984","1,038,404","9,590.18","46.93",
" 106/02/10","6,240,806,015","136,811,826,048","1,209,286","9,665.59","75.41",
" 106/02/13","5,255,562,269","101,177,702,355","1,023,598","9,710.32","44.73",
" 106/02/14","5,531,133,656","113,724,121,218","1,072,534","9,718.78","8.46",
" 106/02/15","5,748,794,719","117,918,064,389","1,165,369","9,799.76","80.98",
" 106/02/16","5,167,818,860","108,303,272,962","1,033,581","9,771.25","-28.51",
" 106/02/17","4,358,105,024","95,178,870,089","916,682","9,759.76","-11.49",
" 106/02/18","3,411,356,161","61,980,819,056","664,672","9,779.92","20.16",
" 106/02/20","4,750,607,829","97,817,579,999","996,037","9,753.20","-26.72",
" 106/02/21","4,604,650,193","90,064,360,265","935,626","9,763.93","10.73",
" 106/02/22","4,853,832,134","101,274,785,349","975,734","9,778.78","14.85",
" 106/02/23","4,655,622,523","101,065,671,309","966,823","9,769.31","-9.47",
" 106/02/24","4,221,089,121","92,653,105,234","887,717","9,750.47","-18.84",
"G"
"1. pTtjLBsBLwdBAtBC
"2. ~]tH^YHqU330iHIsOv[JBC

In [3]:
import urllib.request

In [8]:
fullmarket_api = 'http://www.tse.com.tw/ch/trading/exchange/FMTQIK/FMTQIK.php'
for month in range(1,3):
    for year in range(2017,2018):
        fullmarket_query = 'download=csv&query_year=%d&query_month=%d' % (year, month)
        fullmarket_url = fullmarket_api + '?' + fullmarket_query
        print(fullmarket_url)
        saveFile = str(year) + str(month) + '.csv'
        #urllib.request.urlretrieve(fullmarket_url, saveFile)

http://www.tse.com.tw/ch/trading/exchange/FMTQIK/FMTQIK.php?download=csv&query_year=2017&query_month=1
http://www.tse.com.tw/ch/trading/exchange/FMTQIK/FMTQIK.php?download=csv&query_year=2017&query_month=2

In [ ]:
from http.client import HTTPConnection
import urllib.parse

In [62]:
import re
dataRe = r'^"\s*\d+/\d+/\d+"'
floatRe = r'[+-]*\d+\.\d+'
dateRe = r'\d+/\d+/\d+'
dataList = list()
for item in stockDataList:
    if re.match(dataRe,item):
        #print(item)
        dataList.append(item.split('","'))
for i, items in enumerate(dataList):
    for j, data in enumerate(items):
        data = data.replace('"','')
        data = data.replace(',','')
        data = data.replace(' ','')
        if data.isdigit():
            data = int(data)
        elif re.match(floatRe, data):
            data = float(data)
        elif re.match(dateRe, data):
            y = int(data.split('/')[0])+1911
            m = int(data.split('/')[1])
            d = int(data.split('/')[2])
            data = datetime.date(y, m, d)
        #print(data)
        dataList[i][j] = data
for items in dataList:
    print(items)

[datetime.date(2016, 1, 4), 3828317506, 77036676791, 823702, 8114.26, -223.8]
[datetime.date(2016, 1, 5), 4174711678, 80349248930, 835646, 8075.11, -39.15]
[datetime.date(2016, 1, 6), 4862380750, 99143623931, 944604, 7990.39, -84.72]
[datetime.date(2016, 1, 7), 5920713736, 117577039714, 1151598, 7852.06, -138.33]
[datetime.date(2016, 1, 8), 4534181205, 92853774729, 859799, 7893.97, 41.91]
[datetime.date(2016, 1, 11), 4324346686, 85321943005, 864273, 7788.42, -105.55]
[datetime.date(2016, 1, 12), 4774778088, 86552474918, 878969, 7768.45, -19.97]
[datetime.date(2016, 1, 13), 4191855350, 76588652185, 785161, 7824.61, 56.16]
[datetime.date(2016, 1, 14), 4276900082, 81779081768, 843642, 7742.88, -81.73]
[datetime.date(2016, 1, 15), 4228452132, 90430983043, 834866, 7762.01, 19.13]
[datetime.date(2016, 1, 18), 4556531786, 81693572616, 899532, 7811.18, 49.17]
[datetime.date(2016, 1, 19), 4401843015, 74328444326, 777581, 7854.88, 43.7]
[datetime.date(2016, 1, 20), 4995793415, 89909264962, 934145, 7699.12, -155.76]
[datetime.date(2016, 1, 21), 4228018052, 73757813283, 766878, 7664.01, -35.11]
[datetime.date(2016, 1, 22), 3770515717, 69411719214, 735234, 7756.18, 92.17]
[datetime.date(2016, 1, 25), 3916387295, 69661237574, 721242, 7894.15, 137.97]
[datetime.date(2016, 1, 26), 3725690246, 62349440613, 663929, 7828.67, -65.48]
[datetime.date(2016, 1, 27), 3921538073, 70341506723, 704137, 7849.83, 21.16]
[datetime.date(2016, 1, 28), 4225736859, 79651114076, 757225, 7905.1, 55.27]
[datetime.date(2016, 1, 29), 5887199015, 113463518980, 991000, 8080.6, 175.5]
[datetime.date(2016, 1, 30), 4060926553, 62496769696, 667653, 8145.21, 64.61]

In [30]:
b = 'aaaaaaaaa'
b.replace('a','b')
print(b)

aaaaaaaaa

In [61]:
import datetime
a = '105/01/04'
dateRe = r'\d+/\d+/\d+'
re.match(dateRe,a)
y = int(a.split('/')[0])+1911
m = int(a.split('/')[1])
d = int(a.split('/')[2])
dateformat = datetime.date(y, m, d)

print(dateformat)

2016-01-04

2011-01-20